<h1>Activation</h1>

<p>
  <%= "hello #{@user.name} please click the activation link below to activate account" %>
  <%= link_to "Activate", edit_account_activation_url(@user.activation_token, email: @user.email) %>
</p>
